<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bridge Academy Website</title>
    <link rel="stylesheet" type="text/css" href="/static/styles/classes.css"/>
    <link rel="stylesheet" type="text/css" href="/static/styles/header.css"/>
</head>

<body>
    <div id="header">
        <div id="header-logo">
            <div class="container">
                <h1>Bridge Academy</h1>
                <h4>Psalm 32:8</h4>
            </div>
        </div>
        <div id="header-menu">
            <ul id="menu">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About Us</a></li>
                <li><a href="/classes">Classes</a></li>
                <li><a href="/schedule">Schedule</a></li>
                <li><a href="/calendar">Calendar</a></li>
                <li><a href="/faq">FAQ</a></li>
                <li><a href="/register">Register</a></li>
            </ul>
        </div>
    </div>

    <div id="class-criteria-selector">
        <div id="">
            <label for="grade-levels">Grade Level</label>
            <select id="grade-levels" id="grade-levels">
                <option value="elementary">Elementary School</option>
                <option value="middle">Middle School</option>
                <option value="high">High School</option>
                <option value="mixed">Mixed Levels</option>
                <option value="any" selected>Any</option>
            </select>
        </div>
        <div id="">
            <label for="subject">Subject</label>
            <select id="subject" id="subject">
                <option value="math">Math</option>
                <option value="science">Science</option>
                <option value="english">English</option>
                <option value="history">History</option>
                <option value="theology">Theology</option>
                <option value="music">Music</option>
                <option value="misc">Other</option>
                <option value="any" selected>Any</option>
            </select>
        </div>

    </div>
    <button>Search</button>
    <table id="demoTable"></table>
      

    <footer>
        <p style="text-align: center;">Contact Bridge Academy at <b><a href="mailto: bridgeacademy@comcast.net">bridgeacademy@comcast.net</a></b></p>
    </footer>
</body>