<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bridge Academy Website</title>
    <link rel="stylesheet" type="text/css" href="./styles/schedule.css"/>
    <link rel="stylesheet" type="text/css" href="./styles/header.css"/>
</head>

<body>
    <div id="header">
        <div id="header-logo">
            <div class="container">
                <h1>Bridge Academy</h1>
                <h4>Psalm 32:8</h4>
            </div>
        </div>
        <div id="header-menu">
            <ul id="menu">
                <li><a href="./index.html">Home</a></li>
                <li><a href="./about.html">About Us</a></li>
                <li><a href="./classes.html">Classes</a></li>
                <li><a href="./schedule.html">Schedule</a></li>
                <li><a href="./calendar.html">Calendar</a></li>
                <li><a href="./faq.html">FAQ</a></li>
                <li><a href="./register.html">Register</a></li>
            </ul>
        </div>
        <div>
            <h3 style="text-align: center;">Notice of Intent (NOI)</h3>
        </div>
    </div>
    <div id="main-body">
        <p>Depending on the county your child lives in, you will need to submit a Notice of Intent to Provide Home Instruction (NOI) to the Home Instruction Specialist designated for your county.  The website, HEAV.org, will prove to be insightful and can answer many questions in detail that you may have.</p>
        <p>Chesterfield County Residents send your NOI to:</p>
        <div id="NOI">
            <p>Superintendent of Chesterfield County</p>
            <p>c/o Carolun Hansinger, Home Instruction Specialist</p>
            <p>Chesterfield County Public Schools</p>
            <p>3900 Hull Street Road</p>
            <p>Midlothian, VA 23112</p>
            <p>Phone: 804-639-8628</p>
            <p>Fax: 804-739-6237</p>
        </div>
    </div>
    <footer>
        <p style="text-align: center;">Contact Bridge Academy at <a href="mailto: bridgeacademy@comcast.net">bridgeacademy@comcast.net</a></p>
    </footer>
</body>