@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
html{
    font-family: 'Roboto', sans-serif;
}
body {
    margin: 0px;
    padding: 0px;
}

.answer {
    display: none;
}
ul {
    list-style: none;
}
img {
    vertical-align: middle;
}
h3 {
    vertical-align: middle;
}
.question-header {
    width:fit-content;
}

.question {
    display: inline-block;
}

.rotated {
    transform: rotate(180deg);
}

#NOI {
    margin: 10px;
}
#main-body {
    margin: 25px
}
ul {
    padding: 0px;
}