body {
    margin: 0px;
    padding: 0px;
}
#header {
    background-color: #005E7C;
}
#header-logo {
    display: inline-block;
}

#header-menu {
    display: inline-block;
}
#header-menu ul{
    padding: 0px;
    list-style: none;
}

#header-menu li{
    display: inline;
    padding: 5px;
}