@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
html{
    font-family: 'Roboto', sans-serif;
}
body {
    margin: 0px;
    padding: 0px;
}
.mapouter{
    position:relative;
    text-align:right;
    height: auto;
    width:fit-content;
    display: inline-block;
    vertical-align: top;
}
.gmap_canvas {
    display: inline-block;
}
.Location{
    width: 100%;
    height: fit-content;
    display: inline-block;
}
.Location div{
    margin: 10px;
}
.location-description {
    width: 40%;
    height: fit-content;
    display: inline-block;
}
.mapouter{
    width: 40%;
    height:auto;
}
.gmap_canvas, .gmap_canvas iframe{
    width: 100%;
}
.location-description p, .location-description h2, .location-description a{
    width: 75%;
    margin: 5px;
}
#church-pic {
    height: 250px;
    width: fit-content;
    vertical-align:top;
    display: inline;
}
